{% extends "base.html" %}


{% block content %}
<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover">
      <colgroup>
        <col class="col-xs-1">
        <col class="col-xs-7">
      </colgroup>
      <thead>
        <tr>
          <th>Class</th>
          <th>描述</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <code>.active</code>
          </td>
          <td>鼠标悬停在行或单元格上时所设置的颜色</td>
        </tr>
        <tr>
          <td>
            <code>.success</code>
          </td>
          <td>标识成功或积极的动作</td>
        </tr>
        <tr>
          <td>
            <code>.info</code>
          </td>
          <td>标识普通的提示信息或动作</td>
        </tr>
        <tr>
          <td>
            <code>.warning</code>
          </td>
          <td>标识警告或需要用户注意</td>
        </tr>
        <tr>
          <td>
            <code>.danger</code>
          </td>
          <td>标识危险或潜在的带来负面影响的动作</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="bs-example">
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr class="info">
          <th>#</th>
          <th>ID</th>
          <th>Name</th>
          <th>Age</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>

		{% for i in range(10) %} 
			{% if i % 2 == 0 %}
		        <tr class="success">
			{% elif i % 3 == 0  %}
		        <tr class="warning">
			{% else %}
		        <tr class="info">
			{% endif %}

		          <td>{{ i }}</td>
		          <td>100{{i}}</td>
		          <td>Frank AK</td>
		          <td>{{ i+18 }}</td>
				  <td><a href="/studentinfo"><span class="glyphicon glyphicon-pencil"></span></a></td>
			</tr>
		{% endfor %} 
      </tbody>
    </table>
  </div><!-- /example -->

{% endblock %}
